<template name="about">
        <h1 class="center-text huge borders">Om julkalendern</h1>
        <p>
            Varje dag fram till jul öppnas en ny lucka i kalendern. Bakom alla dessa luckor döljer sig ett julproblem som måste lösas med hjälp av programmering. Pusslen är av varierande svårighetsgrad, och vi hoppas att med denna utmaning roa både de som är nybörjare
            och de som redan utvecklat i flera år. Du är fri att välja metod och teknik för att lösa problemet. Gemensamt för varje uppgift är att koden för din lösning bör resultera i ett svar på en rad som Julkalendern verifierar.
        </p>
        <p>
            Varje lucka du löser ger dig poäng på ledartavlan, den person med mest poäng får en [x] i julklapp signerad av Knowit!
        </p>
        <p>
            Nya luckor öppnas klockan 06:00 varje dag. När en lucka öppnats har du 24 timmar på dig att lösa problemet. Efter att tidsgränsen passerat kommer lösningen vara tillgänglig för alla, och därför är det inte längre möjligt att svara på problemet. Om du
            vill kan du alltid försöka skriva kod för att hitta den rätta lösningen ändå. Programmering är ju trots allt skoj!
        </p>

        <p>En lycklig vinnare kommer att dras vid jul bland de med mest poäng, och kommer att kontaktas per telefon. Kom ihåg att varje poäng spelar roll!</p>

        <h1 class="center-text huge borders">Bakgrund</h1>

        <p>
            Denna julkalender du har framför dig är resultatet av ett internt projekt som började bland systemutvecklare på Knowit för att lära sig webbramverket <a href="http://www.meteor.com" title="Meteor">Meteor</a>. De bestämde sig för att skapa
            en <a href="https://projecteuler.net/" title="Project Euler">Project Euler</a>-liknande programmeringstävling. Det utvecklades till ett koncept som så småningom kallades för Programming Ladder; en helkväll bestående av att lösa flest programmeringsproblem.
            Programming Ladder kördes först internt på egna företagsmöten, och sedan med studenter på skolor som besöktes. På grund av hög popularitet bland både utvecklare och studenter byggdes Programming Ladder på och blev till slut en julkalender.
        </p>

        <p>
            Källkoden for applikationen ligger fritt tillgänglig på <a href="http://github.com/alexanbj/programming-ladder" class="github" title="GitHub">GitHub</a>.
        </p>

        <h1 class="center-text huge borders">Om Knowit</h1>

        <p>
            Knowit består av 1800 specialister som arbetar i skärningspunkten mellan strategi, kreativitet och teknik. Vår kultur präglas av öppenhet, entreprenörskap, kompetens och en vilja att ständigt utvecklas. Tillsammans med våra kunder var vi till exempel
            snabbt ute med att skapa arkitektur baserat på mikrotjänster. Vi var involverade i att sätta en av de första Scala-systemen i Norge i produktion och vi har både designat och utvecklat RuterBillet-appen för kollektivtransport i Oslo. Nyligen
            har vi utvecklat BankID 2.0, så att du kan logga in på ditt bankkonto online utan att uppgradera Java varje gång.
            <br /> Fler och fler av våra lösningar är baserade på väletablerade DevOps-principer.
        </p>
        <p>
            Gemensamt för våra specialister är förmågan att skapa nya lösningar genom att förstå kundens affärsstrategi och kombinera detta med kreativt tänkande och den senaste tekniken. Vi utvecklar våra kunders verksamhet genom nära lokala relationer och har kontor
            i Oslo, Bergen, Stavanger och Kristiansand.
        </p>

        <h1 class="center-text huge borders">Jobba på Knowit?</h1>

        <p>
            Vill du veta mer om Knowit eller hur det är att jobba på Knowit? Ta gärna kontakt för ett informellt samtal med vår rekryteringsansvarige, Atle Rovik, på <a href="mailto:atle.rovik@knowit.no">atle.rovik@knowit.no</a>.
        </p>
        <p>
            Du kan läsa mer, se på videor om oss eller ansöka om ett jobb på <a href="http://www.knowit.no/karriere" title="Knowit karriere">knowit.no/karriere</a>.
        </p>    
</template>
