green = #009482
purple = #8e7eac
blue = #273249
yellow = #fae166
red = #f1a693
gray = #b3b1b1
black = #2e2925

green-dark = #005850
purple-dark = #644b78
blue-dark = #273249
yellow-dark = #d1af1e
red-dark = #c86b60
gray-dark = #77777a

green-light = #a1d0ca
purple-light = #b7b7dc
blue-light = #9db4cb
yellow-light = #f4efa1
red-light = #f0c2b2
gray-light = #d2cfcd

green-lighter = #bcdfe0
purple-lighter = #dfdfea
blue-lighter = #d7e0eb
yellow-lighter = #f0edc8
red-lighter = #f4e8e2
gray-lighter = #e4e0da

navbar-height = 110px

desktop-size = 1300px
tablet-size = 1030px
mobile-size = 760px
